@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --bg-section: linear-gradient(180deg, #372768 0%, #443185 100%);
  --bg-card: linear-gradient(180deg,
      rgba(42, 31, 79, 0.9) 0%,
      rgba(36, 26, 69, 0.9) 100%);

  --color-primary: #fff;
  --color-secondary: #fff;

  --font-poppins: "Poppins", sans-serif;
}

@layer utilities {
  .bg-section {
    background: var(--bg-section);
  }

  .bg-card {
    background: var(--bg-card);
  }

}

:root {
  --font-poppins: "Poppins", sans-serif;
}

html {
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--color-primary);
  list-style: none;
  overflow-x: hidden;

}